@charset "UTF-8";		

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
#navbar li {
  margin: 0 10px; /* 요소 사이 간격 조절 */
  font-weight: bold;
}